body{
	background: #233;
	color: white;
	height: 100vh;
  overflow: hidden;
	font-size: 2em;

}

.avatar-container{
	position: relative;
	height: 100px;
	background-image: url(../image/unknown.gif);
	background-size: cover;
	display: flex;
	margin: 0 50px;
	width: 100px;
}
.avatar{
	height: 100px;
	width: 100px;
	transition: opacity .3s;
}
.avatar-loading{
	opacity: 0;
}
.message-right{
	height: calc(((100vh - 80px) / 3 - 60px) * .8);
	line-height: calc(((100vh - 80px) / 3 - 60px) * .4);
	overflow: hidden;
	align-items: center;
	display: flex;
}
.content-container{
	font-size: calc(((100vh - 80px) / 3 - 60px) * .3);
	word-break: break-all;
  white-space: normal;
	margin: auto 0;
}
.wechatface, .emoji{
	display: inline;
	margin: 0 10px;
	height: calc(((100vh - 80px) / 3 - 60px) * .3);
}
.message-left{
	width: 200px;
	margin-bottom: 200px;
	float: left;
	margin-right: 1em;
	margin-top: calc(((100vh - 80px) / 3 - 180px) / 2);
}
.message{
	color: white;
	overflow: hidden;
	padding: 10px;
	list-style-type: none;
	height: calc((100vh - 20px) / 3 - 80px);
	background-color: #152828;
	margin: 30px;
	white-space: nowrap;
}
.username-container{
	font-size: 1em;
	width: 100%;
	display:block;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.bulletin{
	position: absolute;
  bottom: 0px;
  margin-bottom: .5em;
  font-size: 1.2em;
}

/*transitions*/
.item-transition, .admin-transition{
	transition-property: all;
	transition-duration: .3s;
}
.item-enter, .admin-enter{
	margin-left: 100px;
  opacity: 0;
}
.item-leave, .admin-leave{
	margin-left: -100px;
	opacity: 0;
}
.moving{
	margin-top: calc((80px - 100vh) / 3 + 12px);
	transition: margin-top .3s;
}

ul{
	padding-left:0;
}

#messages-container{
	position: absolute;
	top: 0;
	width: 100%;
}
#admin-container{
	z-index: 2333;
	position: absolute;
	width: 100%;
	top:0;
}
.admin-message{
	margin-bottom:0px;
	background-color: #394b4b;
	border-radius: 20px;
	transform: translateX(-10px) rotateZ(-3deg);
}
