body {
	overflow: hidden;
	margin: 0;
	padding: 0;
	height: 100vh;
	background: #233;
	color: white;
}

.avatar-container {
	position: relative;
	display: flex;
	margin: 0 auto;
	width: 15vh;
	height: 15vh;
	max-width: 20vw;
	max-height: 20vw;
	background-image: url(../image/unknown.gif);
	background-size: cover;
}

.avatar {
	width: 15vh;
	height: 15vh;
	max-width: 20vw;
	max-height: 20vw;
	transition: opacity .3s;
}

.avatar-loading {
	opacity: 0;
}

.message-right {
	display: flex;
	overflow: hidden;
	height: 22vh;
	line-height: 11vh;
	align-items: center;
}

.content-container {
	margin: auto 0;
	white-space: normal;
	font-size: 8vh;
}

.wechatface, .emoji {
	display: inline;
	margin: 0 .3em;
	height: 8vh;
}

.message-left {
	float: left;
	margin-right: 1em;
	width: 20vw;
}

.message {
	overflow: hidden;
	margin: 4vh;
	padding: 2vh;
	height: 22vh;
	border-radius: 2vh;
	background-color: #152828;
	color: white;
	list-style-type: none;
	white-space: nowrap;
}

.username-container {
	display: block;
	overflow: hidden;
	width: 100%;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 6vh;
}

.bulletin {
	position: absolute;
	bottom: 0;
	padding-bottom: 2vh;
	height: 6vh;
	width: fit-content;
	font-size: 5vh;
}

.marquee {
	animation: marquee 8s linear infinite;
	word-break: break-all;
}

@keyframes marquee {
	0% { left: +100%; }
	100% { left: -100%; }
}

.item-transition, .admin-transition {
	transition-duration: .3s;
	transition-property: all;
}

.item-enter, .admin-enter {
	margin-left: 20vw;
	opacity: 0;
}

.item-leave, .admin-leave {
	margin-left: -20vw;
	opacity: 0;
}

.moving {
	margin-top: -30vh;
	transition: margin-top .3s;
}

.messages-container {
	position: absolute;
	top: 0;
	width: 100%;
}

#admin-messages-container {
	z-index: 2333;
}

.admin-message {
	margin-bottom: 0;
	border-radius: 5vh;
	background-color: #394b4b;
	transform: rotateZ(-3deg);
}

ul {
	margin: 0;
	padding: 0;
}
