<!DOCTYPE html>
<html lang="en" ng-app="wall">

  <head>
    <title>Wall</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style/index.css" />

		<script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.js"></script>
		<script src="https://cdn.bootcss.com/socket.io/1.4.8/socket.io.js"></script>
		<script src="https://cdn.bootcss.com/vue/1.0.6/vue.js"></script>
		<script src="https://twemoji.maxcdn.com/twemoji.min.js"></script>

  </head>

  <body>
    <div class="page-container">
			<section class="messages-container" id="ordinary-messages-container">
	      <ul>
	        <li class="message" transition="item" v-for="message in messages" id="message-li">
						<article class="message-container">
							<div class="message-left">
								<div class="avatar-container">
									<img class="avatar avatar-loading" v-bind:src="message.headimgurl" onload="imageLoaded(this);"></img>
								</div>
								<div class="username-container">{{message.nickname}}</div>
							</div>
							<div class="message-right">
								<div class="content-container">{{{message.content}}}</div>
							</div>
						</article>
					</li>
	      </ul>
	    </section>

			<section class="messages-container" id="admin-messages-container">
				<ul>
					<li class="message admin-message" transition="admin" v-for="message in admin" id="message-li-admin"></li>
				</ul>
			</section>

      <footer>
				<div class="marquee bulletin">
					/*execute `test()` in console to run local emulations*/
				</div>
  		</footer>
		</div>

		<script src="script/wechatface.js"></script>
		<script src="script/messages.js"></script>
		<script src="script/network.js"></script>
  </body>
</html>
